.container {
    width: 100%;
}

.mainContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

.mainContent h2, img {
    width: 90%;
}

.picDesc {
    width: 85%;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 10rem;
}

img {
    border-radius: 5px;
}