.link {
    font-size: 1.5rem;
    text-decoration: none;
    margin: .8rem;
}

.link:last-child {
    margin-right: 1.8rem;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    font-size: 1.5rem;
    margin-left: 1.8rem;
}

